%table
  %tr
    %th key
    %th path
    %th agent
  - @latest.each do |visit|
    %tr
      %td
        %a{:href => "/visit/#{visit.key}"}= visit.key
      %td= visit['REQUEST_PATH'] || visit['REQUEST_URI']
      %td= visit['HTTP_USER_AGENT']

