!!!
%html{"xmlns"=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en"}
  %head
    %title Leaderboard Test
    %meta{:'http-equiv' => 'Content-type', :content => 'text/html;charset=UTF-8'}
  %body
    = yield

